@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    outline:3px solid red;
}

:root{
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
}

body{
    font-family: 'Lato', sans-serif;
}

/* general */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* section hero */
.hero{
    --padding-container: 0;
    height: 100vh;
    background-image:linear-gradient(to top, #f77062 0%, #fe5196 100%);
}
.hero__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.hero__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.hero__picture{
    max-width: 80%;
}
.hero__texts{
    color: #fff;
    width: 45%;
}
.hero__title{
    font-size: 4rem;
}
.hero__copy{
    font-size: 1.5rem;
    font-weight: 300;
}

/* section about */
.title{
    text-align: var(--align-title);
    font-size: 2.5rem;
    color: var(--color-primary);
    margin: 0;
    margin-bottom: 40px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.about__picture{
    max-width: 80%;
}
.about__texts{
    width: 50%;
    --align-title: left;
}
.about__paragraph{
    line-height: 1.5;
}
.about__cta{
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    text-decoration: none;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 30px;
}

/* section portfolio */
.portfolio{
    background-color: var(--color-bg);
}
.portfolio__cards{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.portfolio__card{
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    box-shadow: var(--box-shadow);
}
.portfolio__picture{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    display: block;
    object-fit: cover;
}
.portfolio__texts{
    padding: 30px 20px 40px;
}
.portfolio__title{
    text-align: center;
    color: var(--color-secondary);
    font-size: 1.5rem;
    margin: 0;   
}
.portfolio__paragraph{
    font-weight: 300;
    margin: 30px 0;
}
.portfolio__cta{
    display: block;
    background-color: var(--color-secondary);
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    border-radius: 30px;
    font-weight: 300;
}

/* section copy */
.copy{
    background-color: var(--color-primary);
}
.copy__texts{
    --color-primary: #fff;
}
.title--margin{
    margin: 0;
}

/* section gallery */

.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery__picture{
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
